extends layout

block content
    h1 CREER UN NOUVEAU
    br
    form(action="/new", method="post")
        input(type="text" name="name" placeholder="Nom")
        br
        input(type="number" name="level" placeholder="Niveau")
        br
        input(type="text" name="desc" placeholder="Description")
        br
        input(type="submit", value="Enregistrer")