* {
    margin:0;
    padding:0;
}

body {
    background-color: rgb(72, 57, 214);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    padding: 5%;
}

h1 {
    font-size: 4em;
    color: yellowgreen
}



input {
    margin: 2% 0 2% 0;
    width: 20%;
    height: 7%;
}